<form [formGroup]="formEndereco" class="form-endereco">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="cep">CEP:</label>
            <input class="form-control" id="cep"  type="text"  formControlName="cep"> 
        </div>

        <div class="form-group col-md-2">
            <label for="buscar">&nbsp;</label>
            <button class="btn btn-primary btn-sm form-control" (click)="buscaCep()">BUSCAR</button>
        </div>
    
    <div class="form-group col-md-7">
        <label for="logradouro">LOGRADOURO:</label>
        <input class="form-control" id="logradouro" type="text" formControlName="logradouro" >
    </div>
    <div class="form-group col-md-1">
        <label for="numero">NUMERO:</label>
        <input class="form-control" id="numero" type="text" formControlName="numero" required>
    </div>
    <div class="form-group col-md-6">
        <label for="complemento">COMPLEMENTO:</label>
        <input class="form-control" id="complemento" type="text" formControlName="complemento" >
    </div>
    <div class="form-group col-md-6">
        <label for="bairro">BAIRRO:</label>
        <input class="form-control" id="bairro" type="text" formControlName="bairro" >
    </div>
    <div class="form-group col-md-8">
        <label for="localidade">LOCALIDADE:</label>
        <input class="form-control" id="localidade" type="text" formControlName="localidade" >
    </div>
    <div class="form-group col-md-2">
        <label for="uf">UF:</label>
        <input class="form-control" id="uf" type="text" formControlName="uf" >
    </div>
    <div class="form-group col-md-2">
        <label for="ibge">IBGE:</label>
        <input class="form-control" id="ibge" type="text" formControlName="ibge" >
    </div>
    <div class="form-group col-md-1">
        <label for="ddd">DDD:</label>
        <input class="form-control" id="ddd" type="text" formControlName="ddd" >
    </div>
    <div class="form-group col-md-3">
        <label for="gia">GIA:</label>
        <input class="form-control" id="gia" type="text" formControlName="gia" >
    </div>
    <div class="form-group col-md-3">
        <label for="siafi">SIAFI:</label>
        <input class="form-control" id="siafi" type="text" formControlName="siafi" >
    </div>
</div>
<div class="col-md-6 offset-md-3" >
    <button  class="btn btn-secondary btn-lg btn-block " (click)=submitForm() [disabled]="formEndereco.invalid">Submit</button>
</div>
</form>