<section class="section-endereco" >
    <div>
        <label for="cep">CEP:</label>
        <input type="text" [(ngModel)]="cep">
        <button (click)="buscaCep(cep)">BUSCAR</button>
    </div>
    
    <form [formGroup]="formEndereco">
        <div>
            <label for="logradouro">LOGRADOURO:</label>
            <input id="logradouro" type="text" formControlName="logradouro" [(ngModel)]="dadosEndereco.logradouro">
        </div>
        <div>
            <label for="complemento">COMPLEMENTO:</label>
            <input id="complemento" type="text" formControlName="complemento" [(ngModel)]="dadosEndereco.complemento">
        </div>
        <div>
            <label for="bairro">BAIRRO:</label>
            <input id="bairro" type="text" formControlName="bairro" [(ngModel)]="dadosEndereco.bairro">
        </div>
        <div>
            <label for="localidade">LOCALIDADE:</label>
            <input id="localidade" type="text" formControlName="localidade" [(ngModel)]="dadosEndereco.localidade">
        </div>
        <div>
            <label for="uf">UF:</label>
            <input id="uf" type="text" formControlName="uf" [(ngModel)]="dadosEndereco.uf">
        </div>
        <div>
            <label for="ibge">IBGE:</label>
            <input id="ibge" type="text" formControlName="ibge" [(ngModel)]="dadosEndereco.ibge">
        </div>
        <div>
            <label for="gia">GIA:</label>
            <input id="gia" type="text" formControlName="gia" [(ngModel)]="dadosEndereco.gia">
        </div>
        <div>
            <label for="ddd">DDD:</label>
            <input id="ddd" type="text" formControlName="ddd" [(ngModel)]="dadosEndereco.ddd">
        </div>
        <div>
            <label for="siafi">SIAFI:</label>
            <input id="siafi" type="text" formControlName="siafi" [(ngModel)]="dadosEndereco.siafi">
        </div>
    </form>
</section>